In [1]:
import pandas as pd
Location = "C:/Users/VT_SA/Downloads/gradedata.csv"
df = pd.read_csv(Location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [6]:
import numpy as np 
df['timemgmt'] = np.where((df['exercise']>3) & (df['hours']>17), 'Busy','Free')
df.tail(50)

,fname,lname,gender,age,exercise,hours,grade,address,timemgmt
1950,Kaseem,Finch,male,18,1,16,97.1,"6 Country Club Street, Providence, RI 02904",Free
1951,Lydia,Cook,female,16,5,7,71.7,"7270 Temple Dr., Neenah, WI 54956",Free
1952,Tatum,Hall,female,16,1,7,75.0,"56 North Paris Hill Street, Phoenix, AZ 85021",Free
1953,Erin,Mercado,female,15,4,9,71.4,"63 N. Miller Street, Downers Grove, IL 60515",Free
1954,Beatrice,Price,female,17,4,14,82.5,"48 Mayflower Ave., King Of Prussia, PA 19406",Free
1955,Carlos,Ingram,male,16,5,17,98.7,"8734 Squaw Creek St., Saint Petersburg, FL 33702",Free
1956,Neve,Barnes,female,19,2,9,79.8,"547 Southampton Rd., Jackson, NJ 08527",Free
1957,Aileen,Sutton,female,18,5,16,91.4,"404 Paris Hill Lane, West Roxbury, MA 02132",Free
1958,Craig,Roberts,male,14,1,5,66.4,"806 E. Bishop Ave., Goshen, IN 46526",Free
1959,Chelsea,Holloway,female,19,4,12,91.4,"191 Hillside St., Phoenixville, PA 19460",Free
1960,Emerald,Mckinney,female,17,3,8,78.4,"8912 Greenview Drive, Oxon Hill, MD 20745",Free
1961,Nero,Kennedy,male,14,4,14,88.3,"63 Manor St., Saint Charles, IL 60174",Free
1962,August,Green,male,16,2,9,87.2,"834 Pendergast Ave., Naples, FL 34116",Free
1963,Colleen,Holland,female,18,1,5,70.2,"472 Charles Ave., Marlton, NJ 08053",Free
1964,Zenaida,Maynard,female,16,2,19,91.3,"516 Dunbar St., Lynnwood, WA 98037",Free
1965,Lavinia,Carr,female,16,2,4,62.2,"993 Rockaway Road, Fleming Island, FL 32003",Free
1966,Stone,Miles,male,15,4,12,87.4,"77 Pilgrim Street, Camas, WA 98607",Free
1967,Aurora,Gould,female,15,3,18,90.3,"719 Gonzales St., Danbury, CT 06810",Free
1968,Carlos,Aguirre,male,16,4,7,82.2,"9117 Fremont St., Eastpointe, MI 48021",Free
1969,Randall,Weaver,male,18,1,15,83.1,"360 Foxrun Ave., Utica, NY 13501",Free
1970,Armando,Mcclure,male,19,2,14,93.2,"23 Hall Road, Hagerstown, MD 21740",Free
1971,Haley,Mcgowan,female,17,3,16,90.4,"4 Wellington Street, Saint Louis, MO 63109",Free
1972,Fritz,Rojas,male,17,5,13,79.5,"16 East Edgewood St., Ashtabula, OH 44004",Free
1973,Allistair,Boyer,male,14,3,10,74.2,"9373 Helen Drive, Leland, NC 28451",Free
1974,Ella,Patterson,female,16,1,8,68.0,"999 Nicolls Avenue, Oviedo, FL 32765",Free
1975,Felix,Freeman,male,15,4,11,75.2,"671 Division Ave., Vineland, NJ 08360",Free
1976,Dean,Oneil,male,16,2,8,74.5,"653 East Saxton Lane, Framingham, MA 01701",Free
1977,Quinlan,Hawkins,male,14,3,18,85.6,"9437 Longbranch Street, Rockville, MD 20850",Free
1978,Kiara,Lott,female,17,2,12,82.7,"7110 Ridge Road, Jacksonville, NC 28540",Free
1979,Kai,Woodard,female,17,5,17,100.0,"37 Addison St., Eastpointe, MI 48021",Free
1980,Maxine,Raymond,female,17,4,19,91.9,"739 Thomas Court, Memphis, TN 38106",Busy
1981,Leah,Lawrence,female,15,5,15,100.0,"652 Pine Drive, Mountain View, CA 94043",Free
1982,Kalia,Lewis,female,18,1,6,61.4,"557 Theatre Lane, Green Cove Springs, FL 32043",Free
1983,Anthony,Palmer,male,14,1,14,93.1,"914 NW. Lawrence Street, Lawrenceville, GA 30043",Free
1984,Joshua,Randolph,male,15,1,4,72.7,"9632 NE. Lakeshore St., Riverside, NJ 08075",Free
1985,Akeem,Luna,male,15,4,6,74.4,"750 Adams Drive, Goldsboro, NC 27530",Free
1986,Indigo,Mccoy,female,19,2,14,91.3,"9652 Columbia Ave., Chattanooga, TN 37421",Free
1987,Price,Wall,male,15,5,11,78.6,"8672 S. 53rd Drive, Waterford, MI 48329",Free
1988,Quinn,Patterson,male,15,1,14,78.0,"634 Cedar Swamp Ave., Burbank, IL 60459",Free
1989,John,Ford,male,14,2,14,91.2,"64 Devonshire Street, Orange Park, FL 32065",Free
1990,Adena,Battle,female,17,2,8,70.2,"9272 Elizabeth Drive, Londonderry, NH 03053",Free
1991,Craig,Obrien,male,16,3,7,64.9,"524 Park Ave., Hollywood, FL 33020",Free
1992,Isabelle,Barber,female,14,5,9,78.5,"955 Glen Ridge Rd., Plattsburgh, NY 12901",Free
1993,Risa,Watson,female,14,2,10,74.3,"37 Augusta Lane, Montgomery Village, MD 20886",Free
1994,Emerson,Gill,male,17,5,5,67.5,"75 Wild Horse Street, Panama City, FL 32404",Free
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304",Free
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731",Busy
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010",Free
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601",Free
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043",Free